<h2>Log In</h2>

<% if (errorMessage.length > 0) { %>
  <div class="error"><%= errorMessage %></div>
<% } %>

<form class="login-form" action="/login" method="post">

  <label for="username-input">Username</label>
  <br>
  <input id="username-input" type="text" name="loginUserName">
  <br><br>

  <label for="password-input">Password</label>
  <br>
  <input id="password-input" type="password" name="loginPassword">
  <br><br>

  <button>Log In</button>
</form>
<br>

<a href="/auth/facebook">
  Log In with Facebook
</a>

<a href="/auth/google">
  Log In with Google
</a>

<p>
  Don't have an account?
  <a href="/signup">Sign Up!</a>
</p>
<br>
