<h2>Add a New Room</h2>

<form class="" action="/rooms" enctype="multipart/form-data" method="post">

  <label for="room-name-input">Room Name</label>
  <br>
  <input id="room-name-input" type="text" name="roomName" placeholder="e.g. My Awesome Space Room">
  <br><br>

  <label for="room-desc-input">Description</label>
  <br>
  <textarea id="room-desc-input" name="roomDescription" placeholder="e.g. This room is in space!"></textarea>
  <br><br>

  <label for="room-photo-input">Upload Photo</label>
  <br>
  <input id="room-photo-input" type="file" name="roomPhoto">
  <br><br>

  <button>Save Room</button>
</form>
