<h2>Home</h2>

<% if (successMessage.length > 0) { %>
  <div class="success"> <%= successMessage %> </div>
<% } %>

<% if (typeof user !== 'undefined') { %>
  <p>Hello, <%= user.name %>!</p>
<% } %>
<p>Welcome!</p>
